/* CustomRangePicker.css */
.custom-range-picker {
  cursor: pointer;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;

  &:hover {
    border: 1px solid #8b4513;
  }

  &:focus-within {
    border: 1px solid #8b4513;
    box-shadow: none;
  }

  .ant-picker-cell-inner {
    background-color: #8b4513;
    /* Màu nền mới */
    color: #fff;
    /* Màu chữ */
  }
}

/* Customer Search Box */
.custom-search-box {
  border-radius: 8px;
  border: 1px solid #fff;

  /* hover color */
  &:hover {
    border: 1px solid #8b4513;
  }

  /* focus color */
  &:focus-within {
    border: 1px solid #8b4513;
    box-shadow: none;
  }
}

.custom-search-box-1 {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e0e0e0;

  /* hover color */
  &:hover {
    border: 1px solid #8b4513;
  }

  /* focus color */
  &:focus-within {
    border: 1px solid #8b4513;
    box-shadow: none;
  }
}

.custom-advanced-search {
  border-top: 1px solid #e0e0e0;
}

.ant-picker-dropdown {
  z-index: 99999;
}

.ant-picker-content {
  border: none !important;
  border-collapse: none !important;
}

.ant-picker-cell,
th {
  border: 0px solid black;
  padding: 4px 8px;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner {
  background-color: #a26a42 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: #a26a42 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: #a26a42 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-range-start-single
  )::before,
.ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-range-end-single
  )::before,
.ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background: #f0dfd3 !important;
}

.ant-btn-primary {
  background-color: #a26a42 !important;
  border-color: #a26a42 !important;
}

.ant-picker-footer {
  position: relative;
  height: 35px;
}

.ant-picker-ok button {
  position: absolute;
  left: 14px;
}

@media (max-width: 768px) {
  .ant-picker-panel-container,
  .ant-picker-footer {
    width: 280px;
  }
}
